.intro-lead-in{
	color:rgb(254,197,3);
}
.intro-heading{
	color:rgb(254,197,3);
}
#header-connexion{
	color:white;
	font-size:1.1em;
	padding-top:10px;
	padding-left: 30px;
}

#connexion{
	color:white;
	font-size:1.2em;
}


.intro-lead-in{
	color:white;
}

.intro-heading{
	color:black;
}

#map{
	width:450px;
	height: 230px;
}

.navbar-connexion {
	background-color: #222;
    padding: 10px 0;
	border: 0;
	}

.navbar-connexion .navbar-header {
	background-color: #222;
    padding: 10px 0;
	border: 0;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	}

.nav .Snavbar-nav .navbar-right .nav li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
