.intro-lead-in{
	color:rgb(254,197,3);
}
.intro-heading{
	color:rgb(254,197,3);
}
#header-connexion{
	color:white;
	font-size:1.1em;
	padding-top:10px;
	padding-left: 30px;
}

#connexion{
	color:white;
	font-size:1.2em;
}

.agreement-content { 
            overflow:auto; 
            height:12em; 
            padding:10px; 
            background-color:#fbfaf6; 
            border:1px solid #bbb6a5; 
            width: 300px;
            margin: 30px;
            }
