.intro-lead-in{
	color:rgb(254,197,3);
}
.intro-heading{
	color:rgb(254,197,3);
}
#header-connexion{
	color:white;
	font-size:1.1em;
	padding-top:10px;
	padding-left: 30px;
}

#connexion{
	color:white;
	font-size:1.2em;
}


.intro-lead-in{
	color:white;
}

.intro-heading{
	color:black;
}

#map{
	width:450px;
	height: 230px;
}

.navbar-connexion {
	background-color: #222;
    padding: 10px 0;
	border: 0;
	}

.navbar-connexion .navbar-header {
	background-color: #222;
    padding: 0;
	border: 0;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	}

.nav .Snavbar-nav .navbar-right .nav li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
} 	

section-subheading text-muted {
	color: black;
}

.formulaire{
	padding-top: 0px;
	margin-top: 0px;
}
footer{
	padding-top:5px;
}

.container-admin{
	padding: 0;
	margin: 0;
	background-image: url('../img/backgroundAdmin.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.role {
	background-color: black;
}
.index{
	background-color: rgb(230,230,230);
}

#add-user{
	padding-top: 100px; 
	padding-bottom: 20px; 
}
